<a href="https://colab.research.google.com/github/marcoantonioafernandes/bootcamp_data_science_aulas/blob/main/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estilizando dataframes

In [1]:
import pandas as pd

In [2]:
carros = {'Marca': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Preco': [22000,25000,27000,35000]
        }

In [4]:
dados = pd.DataFrame(carros)
dados.head()

            Marca  Preco
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

Passando o parâmetro abaixo conseguimos passar propriedades css para o dataframe

In [5]:
dados.style.set_properties(**{
    'background-color':'blue',
    'color':'white'
})

In [15]:
def cor_orcamento(val):
  if val <= 25000:
    color = 'red'
  else:
    color = 'black'
  return 'color: ' + color

In [16]:
cor_orcamento(2)

'color: red'

O apply map aplica o critério escolhid cédula por cédula, diferentemente do set_properties

In [17]:
dados.style.applymap(cor_orcamento, subset='Preco')

In [20]:
dados.style.applymap(cor_orcamento, subset='Preco').to_excel('Dataframe_estilizado.xlsx', engine='openpyxl')